<% if (supplier = @product.master.best_supplier).present? %>
  <% if (products = supplier.best_products_excluding(@product)).present? %>

    <div id="supplier-related-products" class="col-md-12">
      <div class="section-title">
        <h1><%= Spree.t(:more_products_by) %> <%= supplier.name %></h1>
      </div>
      <%= render 'spree/shared/products', products: products %>
    </div>

  <% end %>
<% end %>
