<% if @supplier.products.any? %>
	<div id="supplier-products" class="row" data-hook>
		<% @supplier.products.each do |product| %>
		<div id="supplier-product-<%= product.id %>" class="col-md-3 col-sm-6 product-list-item" data-hook="products-list-item" itemscope itemtype="http://schema.org/Product">
			<div class="panel panel-default">
				<% cache(@taxon.present? ? [current_currency, @taxon, product] : [current_currency, product]) do %>
					<div class="panel-body text-center product-body">
					<%= link_to small_image(product, :itemprop => "image"), product, :itemprop => "url" %>
					</div>
					<div class="panel-footer text-center">
					<%= link_to truncate(product.name, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name %><br/>
					<span class="price selling lead" itemprop="price"><%= display_price(product) %> </span>
					</div>
				<% end %>
			</div>
		</div>
		<% end %>
	</div>
<% end %>
